model_checkpoint:
  _target_: pytorch_lightning.callbacks.ModelCheckpoint
  dirpath: ../data/models/${exp_name}
  filename: '{epoch:03d}-{eval_loss:.4f}'
  monitor: 'eval_loss'
  mode: 'min'
  save_top_k: -1
  save_last: True